body{
    background-color: #142D4C
}

body{
    color:#ECECEC
}

#indexHead{
    font-family: 'Montserrat', sans-serif;
}

.hnav{
    background-color: rgb(107, 62, 107);
    text-align: center;
}

a{
    color:aqua
}
