body{
    background-color: #142D4C;
    color:#ECECEC;
}

#indexHead{
    font-family: 'Montserrat', sans-serif;
}

a{
    color:aqua
}

header,footer{
    background-color: rgb(107, 62, 107);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
} 

header h1,nav{
    display:flex;
    justify-content: center;
    flex-grow:1;
    width: 100%;
}

nav{
    gap: 50px;
}

section{
    display:grid;
    grid-template-columns: 4fr 1fr;
}

section p{
    padding:10px;
}

@media(max-width:600px){
    nav{
        flex-direction: column;
        align-items: center;
    }
    body{
        /* display:flex; */
        display:grid;
        grid-template-columns: 1fr 3fr;
        gap:15px;
    }
    nav a{
        /* padding-left:15px;
        padding-right:15px; */

    }
}

